audio {
  display: none;
}

body {
  margin: 0;
  padding: 0;
  background-color: #008080;
  /* Windows 95 desktop background color */
  font-family: Monospace, sans-serif;
  overflow: hidden;
}


.clock {
  position: fixed;
  bottom: 7px;
  right: 20px;
  font-size: 12px;
  color: #000000;
  text-align: center;
  line-height: 16px;
  border: 2px inset #c8c7c7;
  width: 120px;
  height: 15px;
  background-color: rgba(170, 170, 170, 255);
}

.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 8);
  /* Semi-transparent black overlay */
  display: flex;
  align-items: left;
  justify-content: left;
  z-index: 9999;
  /* Ensure it's above all other content */
}

.loading-text {
  color: #fff;
  font-size: 16px;
}

/* Existing styles for other elements */
.window {
  position: absolute;
  width: 400px;
  margin-top: 45px;
  background-color: #c6c6c6;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  cursor: move;
  font-size: 13px;
  border: 2px outset #c8c7c7;
  align-items: center;
}

.window-titlebar {
  position: absolute;
  top: -28px;
  left: -2px;
  height: 25px;
  width: 99%;
  background-color: #000080;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.window-title {
  color: #fff;
  font-size: 12px;
}



.window-button {
  width: 12px;
  height: 12px;
  background-color: #c0c0c0;
  cursor: pointer;
  border: 2px outset #c0c0c0;
  left: 20px;
}



.desktop-icons {
  display: flex;
  align-items: middle;
  justify-items: center;
  flex-direction: column;
  /* Updated to cascade down */
}

.icon {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-color: #008080;
  margin: 10px;
  text-align: center;
  line-height: 1px;
  font-size: 10px;
  cursor: pointer;
}

.icon img {
  max-width: 100%;
  max-height: 100%;
}

textarea,
input {
  width: calc(100% - 23px);
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 10px;
  background-color: #ffffdf;
  border: 2px inset #c8c7c7;
}

.start-menu {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 20px;
  background-color: #c0c0c0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 5px;
  border: 2px outset #c8c7c7;
}

.start-button {
  width: 40px;
  height: 20px;
  background-color: #c0c0c0;
  margin: 15 15px;
  text-align: center;
  line-height: 20px;
  cursor: pointer;
  font-size: 10px;
  border: 2px outset #c0c0c0;
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
}

.calendar-day {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  border: 2px inset #c0c0c0;
  padding: 5px;
  position: relative;
  width: 20px;
}

.current-day-dot {
  position: absolute;
  bottom: -5px;
  width: 10px;
  height: 10px;
  background-color: rgba(0, 0, 0);
  border-radius: 30%;
  left: calc(50% - 5px);

}

#stars-container {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.star {
  position: absolute;
  width: 10px;
  height: 10px;
  animation: fade-animation 2s linear infinite alternate, rotate-animation 5s linear infinite;
}

.star.white {
  background-color: #fff;
}

.star.blue {
  background-color: #89CFF0;
}

.star.cross {
  background-color: transparent;
}

.star.cross::before,
.star.cross::after {
  content: '';
  position: absolute;
  background-color: inherit;
  /* Inherit color from parent */
}

.star.cross::before {
  width: 1px;
  height: 100%;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}

.star.cross::after {
  width: 100%;
  height: 1px;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.star.blue::before,
.star.blue::after {
  background-color: #89CFF0;
  /* Set blue color */
}

.star.white::before,
.star.white::after {
  background-color: #fff;
  /* Set white color */
}

.star.cross::before {
  width: 1px;
  height: 100%;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}

.star.cross::after {
  width: 100%;
  height: 1px;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

@keyframes rotate-animation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(180deg);
  }
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 8888;
  pointer-events: none;
}

.button-styles {
  position: absolute;
  font-family: Monospace, sans-serif;
  background-color: #c8c7c7;
  width: 70px;
  height: 15px;
  color: #000000;
  border: 2px outset #c8c7c7;
  border-radius: 0;
  cursor: pointer;
  text-align: center;
  line-height: 11px;
}

.start-button:active {
  border: 2px inset #c0c0c0;
}

.window-button:active {
  border: 2px inset #c8c7c7;
}
